<div class="row">
  <div class="col-sm-12">
    <img [src]="book.imageUrl" alt="{{ book.title }}" class="img-responsive" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h1>{{ book.title }} / ${{ book.price }}</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 dropdown">
    <div class="btn-group" appDropdown #r="appDropdown">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage books <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" [ngClass]="{'show': r.isOpen }">
        <li><a style="cursor: pointer;" class="dropdown-item" (click)="onEditBook()">Edit Book</a></li>
        <li><a style="cursor: pointer;" class="dropdown-item" (click)="onDeleteRecipe()">Delete Book</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success" (click)="addBookToShoppingCart()">To Shopping Cart</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    {{ book.description }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12 align-content-center">
    {{ book.author.name }} | {{ book.publishDate  | date:'longDate' }}
  </div>
</div>
<hr>
<div class="row">
  <h3 class="col-sm-12">Outline</h3>
  <div class="col-sm-12">
    {{book.outline}}
  </div>
</div>
<!--<div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>-->