<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success" routerLink='./new'>Add Book</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-sm-12">
    <input [(ngModel)]="searchText" class="form-control search-margin-bottom" placeholder="Book Title">
    <!--mejorar con un pipe-->
  </div>
  <div class="col-sm-12" *ngFor="let book of books | filter : searchText; let i = index;">
    <app-book-list-item [book]="book" [index]="i"></app-book-list-item>
  </div>
</div>