<div class="row justify-content-center">
  <div class="col-sm-11">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="name">Email</label>
          <input type="text" id="email" class="form-control" name="email" ngModel required email>
        </div>
        <div class="col-sm-4 form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" name="password" ngModel required minlength="8">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11">
          <button class="btn btn-success" type="submit"
            [disabled]="!f.valid">{{ isLoginMode ? 'Login' : 'SingUp' }}</button> |
          <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
            Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
          </button> |
          <button class="btn btn-danger" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>